@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@media screen and (max-width: 1023px) {
  header {
    padding-top: 40px;
    position: absolute;
    width: 100%;
    z-index: 9;
  }
  header .contenedor-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0px;
  }
  header .contenedor-header.cont-contenido {
    width: 86%;
  }
  header .contenedor-header .contenedor-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .contenedor-header .contenedor-logo img {
    width: 120px;
  }
  header .contenedor-header .contenedor-logo .cont-burguer {
    position: relative;
    z-index: 1000;
  }
  header .contenedor-header .contenedor-logo .cont-burguer .burguer {
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1000;
    cursor: pointer;
  }
  header .contenedor-header .contenedor-logo .cont-burguer .burguer span {
    width: 90%;
    height: 2px;
    margin: 4px 2px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
  }
  header .contenedor-header .contenedor-logo .cont-burguer .burguer.active span:nth-child(1) {
    -webkit-transform: rotateZ(45deg) translate3d(3px, 3px, 0);
            transform: rotateZ(45deg) translate3d(3px, 3px, 0);
  }
  header .contenedor-header .contenedor-logo .cont-burguer .burguer.active span:nth-child(2) {
    -webkit-transform: rotateZ(-45deg) translate3d(4px, -4px, 0);
            transform: rotateZ(-45deg) translate3d(4px, -4px, 0);
  }
  header .contenedor-header .mobile-cont-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.95);
    mix-blend-mode: color-dodge;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    padding-top: 90px;
    padding-bottom: 150px;
    -webkit-transition: left 400ms ease;
    transition: left 400ms ease;
  }
  header .contenedor-header .mobile-cont-menu.active {
    left: 0;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu {
    display: block;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu .cont-languaje {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu .cont-languaje a,
  header .contenedor-header .mobile-cont-menu .contenedor-menu .cont-languaje span {
    color: white;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li {
    margin: 0 16px;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li.current-menu-parent > a, header .contenedor-header .mobile-cont-menu .contenedor-menu ul li.current-menu-item > a {
    font-weight: bold;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li.menu-item-has-children {
    position: relative;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li.menu-item-has-children .submenu-button {
    position: absolute;
    top: 0;
    right: 0;
    background: #008bab;
    border: 0;
    width: 20px;
    height: 20px;
    padding: 0;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li.menu-item-has-children .submenu-button div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-size: 15px;
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li.menu-item-has-children .submenu-button.active div {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li ul.sub-menu {
    display: none;
    background: #008bab;
    padding: 0 10px !important;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li ul.sub-menu li {
    margin: 0;
    line-height: 14px;
    margin-bottom: 5px;
    padding: 10px 5px;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li ul.sub-menu li a {
    font-size: 14px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li ul.sub-menu li a:hover {
    opacity: 0.5;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li ul.sub-menu li:last-child {
    margin-bottom: 0;
  }
  header .contenedor-header .mobile-cont-menu .contenedor-menu ul li ul.sub-menu li:hover {
    border-color: transparent;
  }
  header .contenedor-header .contenedor-menu {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding-top: 40px;
    position: absolute;
    width: 100%;
    z-index: 9;
  }
  header .contenedor-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 50px;
  }
  header .contenedor-header .contenedor-logo img {
    width: 153px;
  }
  header .contenedor-header .mobile-cont-menu {
    display: none;
  }
  header .contenedor-header .contenedor-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .contenedor-header .contenedor-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header .contenedor-header .contenedor-menu ul li {
    margin: 0 16px;
    padding: 5px 0;
    position: relative;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .contenedor-header .contenedor-menu ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
  }
  header .contenedor-header .contenedor-menu ul li.current-menu-parent > a, header .contenedor-header .contenedor-menu ul li.current-menu-item > a {
    font-weight: bold;
  }
  header .contenedor-header .contenedor-menu ul li .submenu-button {
    display: none;
  }
  header .contenedor-header .contenedor-menu ul li ul.sub-menu {
    position: absolute;
    visibility: hidden;
    top: 100%;
    left: -15px;
    background: #008bab;
    padding: 10px;
    width: 155px;
    border-radius: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    z-index: -1;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .contenedor-header .contenedor-menu ul li ul.sub-menu li {
    margin: 0;
    padding: 0;
    line-height: 14px;
    margin-bottom: 5px;
  }
  header .contenedor-header .contenedor-menu ul li ul.sub-menu li a {
    font-size: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .contenedor-header .contenedor-menu ul li ul.sub-menu li a:hover {
    opacity: 0.5;
  }
  header .contenedor-header .contenedor-menu ul li ul.sub-menu li:last-child {
    margin-bottom: 0;
  }
  header .contenedor-header .contenedor-menu ul li ul.sub-menu li:hover {
    border-color: transparent;
  }
  header .contenedor-header .contenedor-menu ul li:hover {
    border-color: white;
  }
  header .contenedor-header .contenedor-menu ul li:hover.menu-item-has-children {
    border-color: transparent;
  }
  header .contenedor-header .contenedor-menu ul li:hover ul.sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
  header .contenedor-header .contenedor-menu .cont-languaje {
    margin-left: 70px;
    color: white;
    font-size: 12px;
  }
  header .contenedor-header .contenedor-menu .cont-languaje a {
    color: white;
  }
  header .contenedor-header .contenedor-menu .cont-languaje a span.active {
    font-weight: bold;
  }
  header .contenedor-header .contenedor-menu .cont-languaje a.divider {
    margin: 0 2px;
    margin-top: -2px;
  }
}

footer {
  padding: 45px 0;
  background: #1f1f1f;
}

footer .contenedor-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contenedor-footer .contenedor-logo img {
  width: 180px;
}

footer .contenedor-footer .contenedor-contacto p {
  color: white;
}

footer .contenedor-footer .contenedor-contacto p.enc {
  color: #c1272c;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

footer .contenedor-footer .contenedor-contacto .cont-telefonos .widget-area .widget {
  list-style: none;
}

footer .contenedor-footer .contenedor-contacto .cont-telefonos .widget-area .textwidget {
  margin-bottom: 5px;
}

footer .contenedor-footer .contenedor-contacto .cont-telefonos .widget-area .textwidget p {
  margin-bottom: 0;
}

footer .contenedor-footer .contenedor-contacto .cont-telefonos a {
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .contenedor-footer .contenedor-contacto .cont-telefonos a:hover {
  color: #c1272c;
}

footer .contenedor-footer .contenedor-contacto .cont-telefonos span {
  color: white;
  margin: 0 2px;
}

footer .contenedor-footer .contenedor-contacto .cont-correos {
  margin-top: 25px;
}

footer .contenedor-footer .contenedor-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contenedor-footer .contenedor-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .contenedor-footer .contenedor-menu ul li a {
  color: white;
  font-size: 13px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .contenedor-footer .contenedor-menu ul li a:hover {
  color: #c1272c;
}

footer .contenedor-footer .contenedor-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contenedor-footer .contenedor-redes .widget-area #bfc_widget-3 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contenedor-footer .contenedor-redes a {
  margin: 0 7px;
}

footer .contenedor-footer .contenedor-redes a img {
  width: 24px;
  height: auto;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .contenedor-footer .contenedor-redes a:first-child {
  margin-left: 0;
}

footer .contenedor-footer .contenedor-redes a:last-child {
  margin-right: 0;
}

footer .contenedor-footer .contenedor-redes a:hover img {
  -webkit-filter: none;
          filter: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer .contenedor-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  footer .contenedor-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .contenedor-footer .contenedor-contacto {
    margin: 20px 0;
    text-align: center;
  }
  footer .contenedor-footer .contenedor-contacto a {
    display: block;
  }
  footer .contenedor-footer .contenedor-contacto span {
    display: none;
  }
  footer .contenedor-footer .contenedor-menu {
    margin-bottom: 20px;
    text-align: center;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "OpenSans";
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: auto;
  height: auto;
}

a {
  outline: none;
  text-decoration: none;
}

input,
button {
  outline: none;
}

ul,
ol {
  margin: 10px 0;
}

ul li,
ol li {
  font-size: 14px;
  color: #303030;
  margin: 0;
}

p {
  font-size: 14px;
  color: #303030;
  margin: 0;
  margin-bottom: 15px;
}

p em {
  color: #008bab;
  font-style: normal;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 34px;
  letter-spacing: 2px;
  color: #002a5b;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #002a5b;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

a {
  font-size: 14px;
  color: #303030;
}

hr {
  border: 1px solid #002a5b;
  margin: 40px 0;
}

.owl-dot.active span {
  background-color: #002a5b !important;
}

@media screen and (min-width: 0px) {
  .cont-contenido {
    width: 82%;
    margin: 0 auto;
  }
  .cont-contenido .cont-enc {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .cont-contenido-page {
    width: 86%;
    margin: 0 auto;
  }
  .cont-contenido-page > p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > h2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > figure {
    max-width: 90%;
    margin: 25px auto;
  }
  .cont-contenido-page > ul,
  .cont-contenido-page ol {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > div.contenedor-carruselcontenido {
    width: 100%;
  }
  .cont-contenido-page > div.contenedor-servicios {
    width: 100%;
  }
  .cont-contenido-page > div.contenedor-servicios-mercados {
    width: 100%;
  }
  .cont-contenido-page > div.contenedor-general-itemsdestacados {
    width: 100%;
  }
  .cont-contenido-page > div.cont-servicios-casos {
    width: 100%;
  }
  .cont-contenido-page > div.contenedor-general-capas {
    width: 100%;
  }
  .wpcf7-response-output {
    margin: 0 !important;
    padding: 0 0 30px 0 !important;
    border: 0 !important;
    font-size: 12px;
    text-align: center;
    color: #143157;
  }
  .wpcf7-not-valid-tip {
    font-size: 11px;
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .cont-contenido {
    width: 82%;
    margin: 0 auto;
  }
  .cont-contenido .cont-enc {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .cont-contenido-page {
    width: 82%;
    margin: 0 auto;
  }
  .cont-contenido-page > p {
    width: 76%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > h1 {
    width: 76%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > h2 {
    width: 76%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > figure {
    max-width: 60%;
    margin: 25px auto;
  }
  .cont-contenido-page > ul,
  .cont-contenido-page ol {
    width: 76%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > div {
    width: 76%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-contenido-page > div.contenedor-carruselcontenido {
    width: 90%;
  }
  .cont-contenido-page > div.contenedor-servicios {
    width: 90%;
  }
  .cont-contenido-page > div.contenedor-servicios-mercados {
    width: 90%;
  }
  .cont-contenido-page > div.contenedor-general-itemsdestacados {
    width: 90%;
  }
  .cont-contenido-page > div.cont-servicios-casos {
    width: 100%;
  }
  .cont-contenido-page > div.contenedor-general-capas {
    width: 100%;
  }
  .wpcf7-response-output {
    margin: 0 !important;
    padding: 0 0 30px 0 !important;
    border: 0 !important;
    font-size: 12px;
    text-align: center;
    color: #143157;
  }
  .wpcf7-not-valid-tip {
    font-size: 11px;
    display: none;
  }
}
