@media screen and (max-width: 1023px) {
    header {
        padding-top: 40px;
        position: absolute;
        width: 100%;
        z-index: 9;
        .contenedor-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0px;
            &.cont-contenido {
                width: 86%;
            }

            .contenedor-logo {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    width: 120px;
                }

                .cont-burguer {
                    position: relative;
                    z-index: 1000;
                    .burguer {
                        width: 35px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        z-index: 1000;
                        cursor: pointer;
                        span {
                            width: 90%;
                            height: 2px;
                            margin: 4px 2px;
                            background-color: #fff;
                            transition: transform 400ms ease;
                        }

                        &.active {
                            span {
                                &:nth-child(1) {
                                    transform: rotateZ(45deg) translate3d(3px, 3px, 0);
                                }
                                &:nth-child(2) {
                                    transform: rotateZ(-45deg) translate3d(4px, -4px, 0);
                                }
                            }
                        }
                    }
                }
            }

            .mobile-cont-menu {
                position: absolute;
                background-color: rgba(black, 0.95);
                top: 0;
                left: -100%;
                width: 100%;
                min-height: 100vh;
                z-index: -1;
                padding-top: 90px;
                padding-bottom: 150px;
                transition: left 400ms ease;
                &.active {
                    left: 0;
                }
                .contenedor-menu {
                    display: block;
                    margin-top: 30px;
                    .cont-languaje {
                        padding: 10px;
                        margin: 0 auto;
                        text-align: center;
                        a,
                        span {
                            color: white;
                        }
                    }

                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        li {
                            margin: 0 16px;
                            padding: 10px 0;
                            position: relative;
                            border-bottom: 1px solid transparent;
                            transition: all 0.3s;
                            a {
                                color: white;
                                text-transform: uppercase;
                                font-size: 18px;
                            }
                            &.current-menu-parent,
                            &.current-menu-item {
                                > a {
                                    font-weight: bold;
                                }
                            }
                            &.menu-item-has-children {
                                position: relative;
                                .submenu-button {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background: #008bab;
                                    border: 0;
                                    width: 20px;
                                    height: 20px;
                                    padding: 0;
                                    div {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: white;
                                        font-size: 15px;
                                        transition: transform 400ms ease;
                                    }

                                    &.active {
                                        div {
                                            transform: rotateZ(45deg);
                                        }
                                    }
                                }
                            }
                            ul.sub-menu {
                                display: none;
                                background: #008bab;
                                padding: 0 10px !important;
                                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                                    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                                li {
                                    margin: 0;

                                    line-height: 14px;
                                    margin-bottom: 5px;
                                    padding: 10px 5px;
                                    a {
                                        font-size: 14px;
                                        transition: all 0.3s;
                                        &:hover {
                                            opacity: 0.5;
                                        }
                                    }
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                    &:hover {
                                        border-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .contenedor-menu {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding-top: 40px;
        position: absolute;
        width: 100%;
        z-index: 9;
        .contenedor-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 50px;
            .contenedor-logo {
                img {
                    width: 153px;
                }
            }
            .mobile-cont-menu {
                display: none;
            }
            .contenedor-menu {
                display: flex;
                align-items: center;
                ul {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        margin: 0 16px;
                        padding: 5px 0;
                        position: relative;
                        border-bottom: 2px solid transparent;
                        transition: all 0.3s;
                        a {
                            color: white;
                            text-transform: uppercase;
                            font-size: 13px;
                        }
                        &.current-menu-parent,
                        &.current-menu-item {
                            > a {
                                font-weight: bold;
                            }
                        }
                        .submenu-button {
                            display: none;
                        }
                        ul.sub-menu {
                            position: absolute;
                            visibility: hidden;
                            top: 100%;
                            left: -15px;
                            background: #008bab;
                            padding: 10px;
                            width: 155px;
                            border-radius: 10px;
                            flex-direction: column;
                            opacity: 0;
                            z-index: -1;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                            transition: all 0.3s;
                            li {
                                margin: 0;
                                padding: 0;
                                line-height: 14px;
                                margin-bottom: 5px;
                                a {
                                    font-size: 10px;
                                    transition: all 0.3s;
                                    &:hover {
                                        opacity: 0.5;
                                    }
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                &:hover {
                                    border-color: transparent;
                                }
                            }
                        }
                        &:hover {
                            border-color: white;
                            &.menu-item-has-children {
                                border-color: transparent;
                            }
                            ul.sub-menu {
                                visibility: visible;
                                opacity: 1;
                                z-index: 1;
                            }
                        }
                    }
                }
                .cont-languaje {
                    margin-left: 70px;
                    color: white;
                    font-size: 12px;
                    a {
                        color: white;
                        span {
                            &.active {
                                font-weight: bold;
                            }
                        }
                        &.divider {
                            margin: 0 2px;
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
    }
}
