.contenedor-general-principal {
    .sliderPrincipal {
        .item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(#008bab, 0.7);
                mix-blend-mode: multiply;
            }
            img {
                width: 100%;
            }
            .contenedor-info {
                position: absolute;
                height: calc(100% - 105px);
                bottom: 0;
                display: flex;
                align-items: center;
                padding: 0 50px;
                .cont-info {
                    max-width: 600px;
                    h1 {
                        color: white;
                        font-size: 65px;
                        line-height: 65px;
                        text-transform: uppercase;
                        span {
                            color: #008bab;
                        }
                    }
                    p {
                        color: white;
                    }
                }
            }
        }
        .owl-dots {
            position: absolute;
            width: 100%;
            bottom: 15px;
            button {
                span {
                    width: 8px;
                    height: 8px;
                    margin: 0 3px;
                    border-radius: 100%;
                    background: transparent;
                    border: 1px solid white;
                }
                &:hover {
                    span {
                        background: #008bab;
                    }
                }
                &.active {
                    span {
                        background: white;
                    }
                }
            }
        }
    }
}

.contenedor-ser-mer-cas {
    background-image: linear-gradient(white 26%, #f4f4f4 26%);
    padding: 65px 0;
}

.contenedor-servicios-casos {
    //padding: 65px 0;
    .cont-servicios-casos {
        display: flex;
        flex-direction: column;
        .cont-item {
            //width: calc(100% / 3);
            width: 100%;
            border-radius: 10px;
            background: #002a5b;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            position: relative;
            border-top: 4px solid white;
            overflow: hidden;
            transition: all 0.3s;
            .cont-size {
                visibility: hidden;
                img {
                    width: 100%;
                }
            }
            .cont-tit {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding: 30px;
                p {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: white;
                    text-align: center;
                    font-size: 15px;
                }
            }
            .mask {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.15s;
                opacity: 0;
                .info {
                    text-align: center;
                    padding: 35px 25px;
                    p {
                        font-size: 11px;
                        &.title {
                            font-size: 14px;
                            color: #002a5b;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                    }
                    a {
                        font-size: 11px;
                        color: #002a5b;
                        padding: 2px 12px;
                        border-radius: 5px;
                        border: 1px solid #002a5b;
                        margin: 0 auto;
                        display: table;
                        transition: all 0.3s;
                        margin-top: 15px;
                        &:hover {
                            background: #002a5b;
                            color: white;
                        }
                    }
                }
            }
            &:hover {
                transform: scale(1.2);
                z-index: 1;
                border-color: #008bab;
                .mask {
                    opacity: 1;
                }
            }
        }
        .owl-stage-outer {
            padding: 30px 0;
        }

        .owl-item {
            opacity: 0;
            transition: all 0.1s;
            &.active {
                opacity: 1;
                &:hover {
                    z-index: 1;
                }
            }
        }

        .owl-nav {
            margin: 0;
            button {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: calc(50% - 10px);
                transform: translateY(-50%);
                transition: all 0.3s;
                &.owl-prev {
                    left: -30px;
                }
                &.owl-next {
                    right: -30px;
                }
                img {
                    width: 20px;
                    transition: all 0.3s;
                }
                &:hover {
                    background: #adbbca;
                    img {
                        transform: scale(0.6);
                    }
                }
            }
        }

        .owl-dots {
            button {
                span {
                    width: 8px;
                    height: 8px;
                    margin: 0 3px;
                    border-radius: 100%;
                    background: transparent;
                    border: 1px solid #008bab;
                }
                &:hover {
                    span {
                        background: #008bab;
                    }
                }
                &.active {
                    span {
                        background: #008bab;
                    }
                }
            }
        }
    }

    &.contenedor-general-servicios {
        .cont-servicios-casos {
            .cont-item {
                .cont-tit {
                    background-image: linear-gradient(transparent 20%, rgba(30, 30, 30, 0.8));
                }
            }
        }
    }

    &.contenedor-general-casos {
        .cont-servicios-casos {
            .cont-item {
                .cont-tit {
                    align-items: center;
                    background: rgba(35, 35, 35, 0.4);
                }
                .mask {
                    .info {
                        padding: 20px 7px;
                    }
                }
            }
        }
    }
}

.contenedor-general-mercados {
    padding: 65px 0;
    .cont-mercados {
        display: flex;
        flex-direction: column;
        .cont-mercado {
            width: 100%;
            border-radius: 10px;
            margin: 0 5px;
            background: #002a5b;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            position: relative;
            transition: all 0.3s;
            .cont-size {
                visibility: hidden;
                img {
                    width: 100%;
                }
            }
            .mask {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 42, 91, 0.85);
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s;
                cursor: pointer;
                opacity: 0;
                .info {
                    padding: 15px;
                    p {
                        font-size: 10px;
                        color: white;
                        &.title {
                            font-size: 10.5px;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }
                    }
                    a {
                        font-size: 10px;
                        color: white;
                        padding: 2px 12px;
                        border-radius: 5px;
                        border: 1px solid white;
                        margin: 0 auto;
                        display: table;
                        transition: all 0.3s;
                        margin-top: 15px;
                        &:hover {
                            background: white;
                            color: #002a5b;
                        }
                    }
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                transform: scale(1.3);
                z-index: 1;
                .mask {
                    opacity: 1;
                }
            }
        }

        .owl-stage-outer {
            padding: 30px 0;
        }

        .owl-item {
            opacity: 0;
            transition: all 0.1s;
            &.active {
                opacity: 1;
                &:hover {
                    z-index: 1;
                }
            }
        }

        .owl-nav {
            margin: 0;
            button {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: calc(50% - 10px);
                transform: translateY(-50%);
                transition: all 0.3s;
                &.owl-prev {
                    left: -30px;
                }
                &.owl-next {
                    right: -30px;
                }
                img {
                    width: 20px;
                    transition: all 0.3s;
                }
                &:hover {
                    background: #adbbca;
                    img {
                        transform: scale(0.6);
                    }
                }
            }
        }

        .owl-dots {
            button {
                span {
                    width: 8px;
                    height: 8px;
                    margin: 0 3px;
                    border-radius: 100%;
                    background: transparent;
                    border: 1px solid #008bab;
                }
                &:hover {
                    span {
                        background: #008bab;
                    }
                }
                &.active {
                    span {
                        background: #008bab;
                    }
                }
            }
        }
    }
}

.contenedor-general-clientes {
    padding: 30px 0;
    .cont-enc {
        margin-bottom: 0;
    }
    .cont-clientes {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
        .cont-cliente {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% / 4);
            margin-top: 30px;
            img {
                //height: 57px;
                //width: auto;
                    max-width: 75%;
                    width: auto;
                    max-height: 65px;
                    height: auto;
            }
        }
    }
}

// Keyframes

@keyframes map_point {
    0% {
        opacity: 0;
        transform: translateX(-1000px);
    }

    90% {
        opacity: 1;
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}

.contenedor-general-mapa {
    background: #1d4770;
    .map-container {
        background-position: center;
        padding: 50px 60px;
        position: relative;

        .cont-contenido {
            max-width: 1280px;
            .cont-enc {
                margin-bottom: 20px;
                h1 {
                    color: white;
                }
                p {
                    color: white;
                }
            }
            .contenedor-mapa {
                position: relative;
                flex-grow: 1;

                .contenedor-item {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 15px;
                    img {
                        width: 15px;
                        position: relative;
                        z-index: 1;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover {
                            opacity: 0.6;
                        }
                    }
                    p {
                        font-weight: bold;
                        text-align: center;
                        color: white;
                        opacity: 0;
                        transition: all 0.3s;
                        position: absolute;
                        width: 200px;
                        top: -25px;
                    }
                    &.contenedor-yucatan {
                        right: 8%;
                        bottom: 32%;
                    }
                    &.contenedor-campeche {
                        right: 15%;
                        bottom: 22%;
                    }
                    &.contenedor-tabasco {
                        right: 19.5%;
                        bottom: 20%;
                    }
                    &.contenedor-tabasco2 {
                        right: 18%;
                        bottom: 17.5%;
                    }
                    &.contenedor-monterrey {
                        right: 41.5%;
                        bottom: 59%;
                    }

                    &.active {
                        img {
                            width: 40px;
                            &:hover {
                                opacity: 1;
                            }
                        }
                        p {
                            opacity: 1;
                        }
                        &.contenedor-campeche {
                            p {
                                top: -45px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// SVG
svg {
    path {
        fill: #00a2cf;
        stroke: white;
        //cursor: pointer;
        transform-origin: center center;
        transform-box: fill-box;
        stroke-width: 0.5px;
    }
    g {
        transform-origin: center center;
        transform-box: fill-box;
        &.selected {
            transition: all 0.2s ease-in-out;
            /*
            &:hover {
                filter: url(#shadow);
            }
            */
            #MX- {
                &NEL,
                &TAB,
                &CAM,
                &YUC {
                    fill: #f43441;
                    transition: all 0.3s ease-in-out;
                    stroke: transparent;
                    /*
                    &:hover {
                        stroke: white;
                    }
                    */
                }
            }
        }

        &.active {
            filter: url(#shadow);
            #MX- {
                &NEL,
                &TAB,
                &CAM,
                &YUC {
                    stroke: white;
                }
            }
        }
    }
}
/*
#MX- {
    &BCN,
    &CHH,
    &SIN,
    &NEL,
    &ZAC,
    &MIC,
    &OAX,
    &YUC,
    &TAB,
    &HID {
        fill: #959595;
    }

    &DUR,
    &VER,
    &CAM,
    &GRO {
        fill: #d1d1d1;
    }
}
*/

@media screen and (min-width: 768px) {
    .contenedor-general-principal {
        .sliderPrincipal {
            .item {
                background-image: unset !important;
            }
        }
    }
}


@media screen and (max-width: 1279px) {

    .contenedor-servicios-casos {
        &.contenedor-general-casos {
            .cont-servicios-casos {
                .cont-item {
                    .mask {
                        .info {
                            p{
                                &.title{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .contenedor-general-principal {
        .sliderPrincipal {
            .item {
                .contenedor-info {
                    .cont-info {
                        h1 {
                            font-size: 45px;
                            line-height: 45px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .contenedor-general-principal {
        .sliderPrincipal {
            .item {
                height: 500px;
                img {
                    visibility: hidden;
                }
                .contenedor-info {
                    padding: 0;
                    .cont-info {
                        h1 {
                            font-size: 35px;
                            line-height: 35px;
                        }
                        p {
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .contenedor-servicios-casos {
        .cont-servicios-casos {
            .cont-item {
                &:hover {
                    transform: scale(1);
                }
            }
        }
    }

    .contenedor-general-mercados {
        .cont-mercados {
            .cont-mercado {
                &:hover {
                    transform: scale(1);
                }
            }
        }
    }

    .contenedor-general-clientes {
        .cont-clientes {
            flex-wrap: wrap;
            width: 100%;
            .cont-cliente {
                width: calc(100% / 2);
                img {
                    //height: 40px;
                    //width: auto;
                }
            }
        }
    }

    .contenedor-general-mapa {
        .map-container {
            padding: 50px 0px;
            overflow: hidden;
            .cont-contenido {
                .contenedor-mapa {
                    .contenedor-item {
                        img {
                            width: 7px;
                        }
                        &.contenedor-yucatan{
                            right: 5.5%;
                            bottom: 33%;
                        }
                        &.contenedor-campeche{
                            right: 13%;
                            bottom: 24%;
                        }
                        &.contenedor-tabasco{
                            right: 18.5%;
                            bottom: 22%;
                        }
                        &.contenedor-tabasco2{
                            right: 16%;
                            bottom: 19.5%;
                        }
                        &.contenedor-monterrey{
                            right: 39%;
                            bottom: 59%;
                        }
    
                        &.active{
                            img{
                                width: 15px;
                            }
                            &.contenedor-yucatan{
                                p{
                                    left: -120px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
